dnd/dnd/obj/
dnd/test/obj/
dnd/test/bin/
dnd/.vs/
dnd/dnd/bin
dnd/console/BenchmarkDotNet.Artifacts/
dnd/console/bin/
dnd/console/obj/
unity/DnD/.vscode/
unity/DnD/.vs/
unity/DnD/Library/
unity/DnD/obj/
unity/DnD/Temp/
test/obj/
test/bin/
Temp/
obj/
Logs/
Library/
dnd/bin/
console/bin/
console/BenchmarkDotNet.Artifacts/
.vs/
DndCore/Tests/bin/
DndCore/Logic/bin/
DndCore/benchmark/bin
webgl/
